/* div.css-115gedg.e1tzin5v2{
    background-color: #00172B;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
}

div.css-1r6slb0.e1tzin5v2{
    background-color: #00172B;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
} */

div.css-1a32fsj.e19lei0e0{
/*     background-color: #00172B; */
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #02344A;
    max-height: 50rem;
    box-shadow: 2px 2px 2px 2px #940101;
    opacity: 0.8;
    width: auto;
}

div.css-1a32fsj.e19lei0e0:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px #ff0000;
}


/* div.css-1wdh5s6.e1tzin5v0{
    background-color: #00172B;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
} */
